<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.4">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <title>Tax Invoice</title>
    <style>
        body{
            margin : auto;
        }
        .bordor,td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        .nobordor tr td {
        border:none;
        }
        table td{
            padding-left: 5px;
            padding-right: 5px;
        }
        .wrap{
            border: 1px solid black;
            line-height: 5px;
            padding-left: 5px;
        }
        .vtop{
            vertical-align: top;
        }
        .center{
            text-align: center;
            line-height: 5px;
        }
        .wid{
            width: 75%;
        }
    </style>
    <script>
        window.onload = function () {
    document.getElementById("download")
        .addEventListener("click", () => {
            const invoice = this.document.getElementById("content2");
            console.log(invoice);
            console.log(window);
            var opt = {
                margin: [0,-20,0,-20],
                filename: 'myfile.pdf',
                image: { type: 'png', quality: 0.98 },
                html2canvas: { scale: 2 , logging:true , dpi:192 , letterRendering:true },
                jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };
            html2pdf().from(invoice).set(opt).save();
        })
}
function printp(){
    window.print();
};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>
<body class="wid" id="content2">
    <h3 align="center">Tax Invoice</h3>
    <table width=100% class="bordor">
        <tr>
            <td>
                <b>NATIONAL TRADERS</b> <br>
                Beside Over Bridge, Nr. Arora Hotel, N.H. No. 8, Dholapipla, Navsari-396 445. <br>(M) 9276451371 <br>
                GSTIN/UIN : 24AKVPS0456P1ZA
            </td>
            <td colspan="2">
                Invoice No. <br>
                <b>{{list2[0]}}</b>
            </td>
        </tr>
        <tr>
            <td>
                Buyer (Bill to Address) <br>
                <b>{{list2[2]}}</b> <br>
                {{list2[3]}} <br>
                GSTIN/UIN : {{list2[5]}}
            </td>
            <td colspan="2">
                Dated <br>
                <b>{{list2[1]}}</b>
            </td>
        </tr>
        <tr>
            <td>
                (Ship to Address) <br>
                <b>{{list2[4]}}</b> <br>
            </td>
            <td colspan="2"></td>
        </tr>
    </table>
    <table width=100% class="bordor">
        <tr align="center">
            <td width=2%>SI No.</td>
            <td>Description of Goods</td>
            <td>HSN/SAC </td>
            <td>Quantity</td>
            <td>UOM</td>
            <td>Rate</td>
            <td>Amount</td>
        </tr>
        {% set count = namespace(value=1) %}
        {% set rate = finallist[3]/1.28 %}
        {% set total = rate*finallist[2] %}
        <tr>
            <td>{{ count.value }}</td>
            <td><b>{{finallist[1]}}</b></td>
            <td>{{finallist[0]}}</td>
            <td><b>{{finallist[2]}}</b></td>
            <td>Nos</td>
            <td>{{'%0.2f'| format(rate|float)}}</td>
            <td><b>{{'%0.2f'| format(total|float)}}</b></td>
        </tr>
        {% set count.value = count.value + 1 %}
        {% set cgst = (total*14)/100 %}
        {% set sgst = (total*14)/100 %}
        {% set final = total+cgst+sgst %}
        {% set rofff = (final)|int %}
        <tr>
            <td colspan="3"></td>
            <td colspan="3">Item Amount</td>
            <td>{{'%0.2f'| format(total|float)}}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td colspan="3">Discount Amount</td>
            <td>0.00</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td colspan="3">CGST 14% on {{'%0.2f'| format(total|float)}}</td>
            <td>{{'%0.2f'| format(cgst|float)}}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td colspan="3">SGST 14% on {{'%0.2f'| format(total|float)}}</td>
            <td>{{'%0.2f'| format(sgst|float)}}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td colspan="3">Round Off</td>
            <td>{{roff}}</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td colspan="3"><b>Net Invoice Amount</b></td>
            <td><b>{{roffvalue}}</b></td>
        </tr>
    </table>
<table width=100% class="bordor">
    <tr>
        <td colspan="2">Net Invoice Amount (in words) : <b>{{textfinal}}</td>
    </tr>
    <tr>
        <td  width=50% rowspan="2">
            <b><u>Declaration</u></b><br>
            <ul>
                <li>Certified that particulars given are true and correct and the amount indicated represents the price actually charged by us and there is not additional considertation flowing directly or indirectly from the buyer.
                <li>All disputes connected to this sell are subject to the Navsari Jurisdiction of Courts in only. Our responsibility creases once the service(s) are catered.
                <li>Interest @24% in payable for payment delayed beyond due date.
            </ul>
            E.&O.E.
        </td>
        <td>
            <table width=100% class="nobordor">
                <tr>
                    <td colspan="2">Company’s Bank Details</td>
                </tr>
                <tr>
                    <td>A/c Holder’s Name</td>
                    <td><b>NATIONAL TRADERS</b></td>
                </tr>
                <tr>
                    <td>Bank Name</td>
                    <td><b>KOTAK MAHINDRA BANK, NAVSARI </b></td>
                </tr>
                <tr>
                    <td>A/c No.</td>
                    <td><b>08722120003329</b></td>
                </tr>
                <tr>
                    <td>IFS Code</td>
                    <td><b>KKBK0000872</b></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="right">
            <b>for NATIONAL TRADERS</b>
            <br><br><br>
            Authorised Signatory
        </td>
    </tr>
</table>
<div class="center">
<p>This is a Computer Generated Invoice</p>
</div>
<button class="btn btn-info" id="download" >Print</button>
</body>
</html>